.window_view{
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: azure;
    font-family: 'Calibri', serif;
}

h1, h2 {
    text-align: center;
}

p .html_code {
    background-color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
}

.html_code {
    color: brown;
}

.code_preview {
    border: 1px;
    border-radius: 5px;
    background-color: lightgrey;
}

.tags {
    background-color: lightgrey;
    color: blue;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}